<section class="container">
  <app-categories-nav />
  <section class="left-side">
    <h1 class="title">All Tasks</h1>
    <app-add-todo-form />
    <section class="todo-list">
      <ul>
        <li>
          <app-checkbox /> Buy Banana for the pancakes
          <span class="sticker">Favourites</span>
        </li>
        <li>Go to the Gym <span class="sticker">Favourites</span></li>
        <li>Prepare roadmap for MVP <span class="sticker">Favourites</span></li>
        <li>
          Read chapter 3 from Math book <span class="sticker">Favourites</span>
        </li>
        <li>Call Peter <span class="sticker">Favourites</span></li>
      </ul>
    </section>
  </section>
</section>
